#addEmployeeModal.modal.fade
        .modal-dialog
          .modal-content
            form(method='POST',action='/createUser')
              .modal-header
                h4.modal-title Create Users
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
                .col-md-7
                  input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
                .col-md-7
                  input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='new-password', required)
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
                .col-md-7
                  input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', required)
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
                .col-md-7
                  input.form-control(type='text', name='name', id='name', placeholder='Input your name', autocomplete='name', options)
              .form-group
                  label.col-md-3.col-form-label.font-weight-bold.text-right(for='gender') Gender
                  .form-check.form-check-inline
                    input(type='radio', class='form-check-input' , name='gender', value='male', data-toggle='radio')
                    label.form-check-label Male

                  .form-check.form-check-inline
                    input(type='radio', class='form-check-input' , name='gender', value='female', data-toggle='radio')
                    label.form-check-label Female

                  .form-check.form-check-inline
                    input(type='radio', class='form-check-input' , name='gender', value='other', data-toggle='radio')
                    label.form-check-label Other
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='location') Location
                .col-md-7
                  input.form-control(type='text', name='location', id='location', placeholder='Input your location', autocomplete='location', options)
              .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='website') Website
                .col-md-7
                  input.form-control(type='text', name='website', id='website', placeholder='Input your website', autocomplete='website', options) 
              .modal-footer
                input.btn.btn-default(type='button', data-dismiss='modal', value='Cancel')
                input.btn.btn-success(type='submit', value='Add')