#deletePolicyModal.modal.fade
        .modal-dialog
          .modal-content
            form(method='POST',action='/deletePolicy')
              .modal-header
                h4.modal-title Delete Policy
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              input(type='hidden', name='_csrf', value=_csrf)  
              .modal-body
                input#policyId(type='hidden', name='policyId', value='')
                p Are you sure you want to delete these Records?
                p.text-warning
                  small This action cannot be undone.
              .modal-footer
                input.btn.btn-default(type='button', data-dismiss='modal', value='Cancel')
                input.btn.btn-danger(type='submit', value='Delete')